
//Layout
$desktop-width: 144rem;
$mobile-width: 37.5rem;

//Primary Colors
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

//Neutral Colors

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(198, 25%, 90%);

//Font Family
$body-font: 'Bai Jamjuree', sans-serif;


$font-size: 1.8rem;


